  		.datatablecss_header{
  			    font-weight: 400;
    			
    			font-size: 0.75rem;
    			color: rgb(56, 76, 110);
    			text-transform: uppercase;
    			background-color: #fafaf9;
    			padding: 20px 20px 0px 10px !important;

    			font-family: "Salesforce Sans",Arial,sans-serif;
    			line-height: 1.5;

  		}
  		table.dataTable thead th, table.dataTable thead td {
    				padding: 10px 18px;
    				
    				border-bottom: 2px solid #d8dde6;
    				border-top: 2px solid #d8dde6;
		}

		a{

			color: #1ea6d3;
		}

		td{

    		text-align: center;		
    	}
    	#RefreshPage{
    		padding: 10px 10px 27px 8px;
		    width: fit-content;
		    background-color: #1ea6d3;
		    border-color: #1ea6d3;
		    border-radius: 5px;
		    height: 5px;
		    text-align: center;
    	}
    	#Craetematid{
    		padding: 10px 10px 27px 8px;
		    width: fit-content;
		    background-color: #1ea6d3;
		    border-color: #1ea6d3;
		    border-radius: 5px;
		    height: 5px;
		    text-align: center;
    	}
        #Customid{
            padding: 10px 10px 27px 8px;
            width: fit-content;
            background-color: #1ea6d3;
            border-color: #1ea6d3;
            border-radius: 5px;
            height: 5px;
            text-align: center;
        }
        
    	a.tempclass{
    			width: fit-content;
    		    text-decoration: none;
			    background-color: #1ea6d3;
			    color: white;
			    padding: 4px 8px 4px 9px;
			    border-radius: 5px;
    	}



@keyframes ldio-w9qmp1aset {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-w9qmp1aset div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-w9qmp1aset linear 1s infinite;
  background: #b2abac;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-w9qmp1aset div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #b2abac;
}.ldio-w9qmp1aset div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #b2abac;
}
.loadingio-spinner-spinner-emqnqb6lh8t {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-w9qmp1aset {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-w9qmp1aset div { box-sizing: content-box; }
