{% load static %}
<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Zerotype Website Template</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/"></a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/pythonjob">Python Job</a>
				</li>
				<li>
					<a href="/matillionjobs">News</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	{% block content %}

	{% endblock %}

</body>
</html>